@media (min-width: 640px) {
    main {
        position: relative;
        width: var(--content-width);
        min-height: 100dvh;
        margin: 0 auto;
        padding: 0 0 8rem;
    }

    .menu-button {
        display: none;
    }
}
