:root {
    /* default theme (dark) */
    --background: #29272b;
    --f-high: #ffffff;
    --f-med: #e47464;
    --f-low: #66606b;
    --f-inv: #000000;
    --b-high: #000000;
    --b-med: #201e21;
    --b-low: #322e33;
    --b-inv: #e47464;
    /* fonts */
    --heading-font-size: 1.4rem;
    --heading-font: anonymous, monospace;
    --menu-font-size: 1.1rem;
    --menu-font: anonymous, monospace;
    --nav-font-size: 1.1rem;
    --nav-font: anonymous, monospace;
    --portfolio-title-font-size: 45px;
    --text-font: ubuntu, sans-serif;
    --title-font-size: 0.8rem;
    --title-font: anonymous, monospace;
    /* spacing and sizes */
    --border-radius-large: 16px;
    --border-radius-small: 3px;
    --box-spacing: 1.6rem;
    --content-spacing: 3rem;
    --content-width: 600px;
    --list-line-height: 1.6rem;
    --menu-gap: 8px;
    --mobile-extra-spacing: 0;
    --mobile-galery-extra-spacing: 0;
    --row-height: 24px;
    --row-height-large: 40px;
    --theme-button-size: 12px;
    --transition-duration: .3s;
}

@font-face {
    font-family: 'anonymous';
    src:
        url('/fonts/anonymous-pro/AnonymousPro-Regular.ttf')
        format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'chopin';
    src:
        url('/fonts/Chopin-Light.ttf')
        format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'planecrash';
    src:
        url('/fonts/Plane Crash.ttf')
        format('trueType');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-R.ttf')
        format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-RI.ttf')
        format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-L.ttf')
        format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-RI.ttf')
        format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-M.ttf')
        format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-MI.ttf')
        format('truetype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-B.ttf')
        format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/ubuntu/Ubuntu-BI.ttf')
        format('truetype');
    font-style: italic;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    font-family: ubuntu, sans-serif;
    font-weight: lighter;
    color: var(--f-high);
    background-color: var(--background);
}

body {
    margin: 0;
}

a {
    color: var(--f-high);
    text-decoration: none;
    border-bottom: 2px solid var(--f-low);
}

a:hover {
    color: var(--f-med);
}

a[target="_blank"]::after {
    content: " ❏";
    font-size: 0.8em;
    opacity: 0.5;
}

::selection {
    color: var(--f-inv);
    background-color: var(--b-inv);
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--row-height-large);
    margin: var(--row-height-large) 0;
    padding: 0;
    font-family: var(--heading-font);
    font-size: var(--heading-font-size);
    font-weight: normal;
    text-align: right;
    text-transform: uppercase;
    color: var(--f-high);
}

h1::before {
    content: "";
    flex: 1;
    height: calc(var(--row-height-large) - 8px);
    margin: 0;
    margin-right: 1rem;
    color: var(--f-low);

    --dot-bg: var(--background);
    --dot-color: var(--f-high);
    --dot-size: 2px;
    --dot-space: 3px;
    background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

h2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--row-height);
    margin: var(--row-height) 0;
    padding: 0;
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    font-weight: normal;
    line-height: var(--row-height);
    text-align: right;
    text-transform: uppercase;
    color: var(--f-high);
}

h2::before {
    content: "";
    flex: 1;
    height: 100%;
    margin: 0;
    margin-right: 1em;
    color: var(--f-low);
    transition: background var(--transition-duration);

    --dot-bg: var(--background);
    --dot-color: var(--f-high);
    --dot-size: 1px;
    --dot-space: 3px;
    background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

h2::after {
    content: "";
    width: 8px;
    height: 100%;
    margin-left: 1em;
    transition: background var(--transition-duration);

    --dot-bg: var(--background);
    --dot-color: var(--f-high);
    --dot-size: 1px;
    --dot-space: 3px;
    background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}
