:root {
    /* default theme - dark */
    --background: #29272b;
    --f-high: #ffffff;
    --f-med: #e47464;
    --f-low: #66606b;
    --f-inv: #000000;
    --b-high: #000000;
    --b-med: #201e21;
    --b-low: #322e33;
    --b-inv: #e47464;
    /* texts */
    --heading-font: alumni, sans-serif;
    --heading-font-size: 2.2rem;
    --main-menu-font-size: 1.5rem;
    --main-menu-font: action, sans-serif;
    --nav-font-size: 1rem;
    --nav-font: action, sans-serif;
    --title-font-size: 1.5rem;
    --title-font: action, sans-serif;
    --title-padding-horizontal: 2rem;
    --title-padding-vertical: .5rem;
    /* spacing and sizes */
    --border-radius-small: 3px;
    --box-spacing: 1.4rem 2rem;
    --content-spacing: 3rem;
    --content-width: 600px;
    --title-font: chopin, sans-serif;
    --title-size: 2rem;
}

@font-face {
    font-family: 'chopin';
    src:
        url('/fonts/Chopin-Light.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ubuntu';
    src:
        url('/fonts/Ubuntu-B.ttf')
        url('/fonts/Ubuntu-R.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-family: ubuntu, sans-serif;
    color: var(--f-high);
    background-color: var(--background);
}

body {
    margin: 0;
}

h1, h2 {
    font-family: chopin;
    font-weight: normal;
}

a {
    color: var(--f-high);
}

a[target="_blank"]::after {
    content: " ❏";
    font-size: 0.8em;
}

::selection {
    color: var(--f-inv);
    background-color: var(--b-inv);
}
