html {
    height: 100vh;
}

body {
    height: 100%;
}

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#home-content section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#home-content menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#home-content h1 {
    margin: 2px 0;
    padding: 2px .5rem;
    font-family: var(--main-menu-font);
    font-size: var(--main-menu-font-size);
    font-weight: normal;
}

#home-content h1::after {
    content: "///";
    margin-left: 1rem;
}

#home-content ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#home-content li {
    font-family: var(--main-menu-font);
    font-size: var(--main-menu-font-size);
}

section:not([name="me"]) {
    position: relative;
}

section menu {
    transition: top .3s, bottom .3s;
}

section[data-name="development"] {
    flex-grow: 1;
    align-items: flex-end;
    background: url(/images/wallpaper-home-development.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

section[data-name="development"] menu {
    position: absolute;
    bottom: -2.5rem;
    color: #ffffff;
}

section[data-name="development"]:hover menu {
    bottom: 0;
}

section[data-name="me"] {
    align-items: center;
    background-color: #ffffff;
    z-index: 1;
}

section[data-name="me"] menu {}

section[data-name="hobbies"] {
    flex-grow: 1;
    align-items: flex-start;
    background: url(/images/wallpaper-home-hobbies.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section[data-name="hobbies"] menu {
    position: absolute;
    top: -2.5rem;
    color: #ffffff;
}

section[data-name="hobbies"]:hover menu {
    top: 0;
}

.pattern {
    width: 100%;
    height: 100%;
    filter: opacity(0);
    transition: filter .2s;
    background: #00000040 url(/images/dot-pattern.png) repeat;
}

section:hover .pattern {
    filter: opacity(100%);
}

#home-content li a {
    display: inline-block;
    margin: 2px 0;
    padding: 2px .5rem;
    color: unset;
    text-decoration: none;
    border: 1px solid transparent;
}

#home-content li a:hover,
#home-content li a:active {
    border: 1px solid #ffffff;
}

#home-content section[data-name="me"] li a:hover,
#home-content section[data-name="me"] li a:active {
    border: 1px solid #000000;
}
