.markdown-article {
    line-height: 1.5rem;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
}

h4, h5, h6 {
    font-family: serif;
}

h1 {
    margin: 0 0 var(--content-spacing);
    padding: 0;
    font-size: var(--title-size);
    line-height: calc(var(--title-size) * 0.6);
    color: var(--f-high);
}

h2 {
    margin: var(--content-spacing) 0;
    padding: 0 0 8px;
    font-size: 2rem;
    color: var(--f-med);
    border-bottom: 1px solid var(--f-med);
}

h3 {
    font-size: 1.6rem;
    padding-left: .5rem;
    border-left: .5rem solid var(--f-med);
}

img {
    max-width: var(--content-width);
    height: auto;
}

img:first-child {
    width: var(--content-width);
}

p {
    margin: 2rem 0;
}

p:nth-child(2) {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0 1rem;
}

ul li::marker {
    color: var(--f-med);
}

blockquote {
    margin: .5rem;
    padding: 1.2rem 1.5rem;
    background-color: var(--b-low);
    border-radius: var(--border-radius-large);
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

footer {
    margin-top: calc(var(--content-spacing) * 2);
    padding: 4px 0;
    font-family: monospace;
    font-size: .8rem;
    line-height: .8rem;
    color: var(--f-low);
    border-top: 1px solid var(--f-low);
}
