.markdown-article {
    line-height: 1.5rem;
}

h2 {
    margin: 2rem 0;
    border-color: var(--f-med);
}

h2::before {
    color: var(--f-med);
}

h3 {
    padding-left: .5rem;
    font-size: 1.4rem;
    font-weight: normal;
    border-left: 8px solid var(--f-med);
}

h4, h5, h6 {
    font-family: serif;
}

img {
    max-width: var(--content-width);
    height: auto;
}

img:first-child {
    margin: var(--box-spacing) 0;
    width: var(--content-width);
}

p {
    margin: 2rem 0;
}

p:nth-child(2) {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0 1rem;
}

ul li::marker {
    color: var(--f-med);
}

blockquote {
    margin: .5rem;
    padding: 1.2rem 1.5rem;
    background-color: var(--b-low);
    border-radius: var(--border-radius-large);
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

footer {
    margin-top: calc(var(--content-spacing) * 2);
    padding: 4px 0;
    font-family: anonymous, monospace;
    font-size: .8rem;
    line-height: .8rem;
    color: var(--f-low);
    border-top: 1px solid var(--f-low);
}
