@media (max-width: 640px) {
    :root {
        /* overrides */
        --box-spacing: 1.4rem 2rem;
        --content-spacing: 2rem;
        --content-width: 100vw;
        --menu-font-size: 20px;
        --menu-gap: 14px;
        --content-extra-spacing: 16px;
        --galery-extra-spacing: 4px;
        --portfolio-title-font-size: 30px;
        --row-height: 30px;
        --row-height-large: 40px;
        --theme-button-size: 16px;
        /* mobile layout only */
        --menu-button-icon-size: 3rem;
        --menu-button-size: 4rem;
        --menu-padding: 20px;
        --nav-font-size: 2rem;
        --nav-gap: .5rem;
        --nav-padding: 1rem;
    }

    h1 {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 1rem;
        padding-top: 0;
    }

    html {
        font-size: 14px;
    }

    main {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #menu {
        position: fixed;
        z-index: 2;
        right: var(--menu-padding);
        bottom: var(--menu-padding);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: var(--menu-button-size);
        height: var(--menu-button-size);
        margin: 0;
        padding: 0;
        font-family: var(--menu-font);
        background-color: var(--background);
        border: none;
        border-radius: 2rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition:
            width var(--transition-duration),
            height var(--transition-duration),
            border-radius var(--transition-duration);
    }

    #menu.opened {
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
        border-radius: var(--border-radius-large);
    }

    #themes-selector {
        position: absolute;
        bottom: var(--menu-padding);
        left: var(--menu-padding);
        display: none;
        align-items: center;
        flex-direction: row-reverse;
        gap: var(--menu-gap);
        margin: 0;
        border: none !important;
    }

    #menu.opened #themes-selector {
        display: flex;
    }

    #main-nav {
        display: flex;
        flex-direction: column;
        gap: var(--nav-gap);
        align-items: center;
        width: 100%;
    }

    #main-nav a {
        max-width: 100%;
        padding: var(--nav-padding);
        color: transparent;
        font-size: var(--nav-font-size);
        text-decoration: none;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
        overflow: hidden;
        transition: color var(--transition-duration);
    }

    #menu.opened nav a {
        color: var(--f-high);
    }

    #menu.opened nav a.active {
        color: var(--f-med);
    }

    #page-cover img {
        width: var(--content-width);
    }

    #page-description {
        padding-left: var(--content-extra-spacing);
        padding-right: var(--content-extra-spacing);
    }

    #profile {
        padding: 0 var(--content-extra-spacing)
    }

    #themes-selector figcaption {
        font-size: var(--menu-font-size);
        line-height: var(--menu-font-size);
        color: var(--f-high);
        text-transform: uppercase;
    }

    #themes-selector figcaption a {
        border-bottom: unset;
    }

    #themes-selector ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: var(--menu-gap);
    }

    #themes-selector button {
        width: var(--theme-button-size);
        height: var(--theme-button-size);
        padding: 0;
        color: transparent;
        text-indent: -100vh;
        border: 1px solid var(--f-high);
        background-color: transparent;
        transition:
            background-color var(--transition-duration),
            border-color var(--transition-duration);
    }

    #themes-selector button.active {
        background-color: var(--f-med);
        border-color: var(--f-med);
    }

    .menu-button {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: var(--menu-button-size);
        height: var(--menu-button-size);
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .menu-button svg {
        width: var(--menu-button-icon-size);
        height: var(--menu-button-icon-size);
        color: var(--f-high);
    }

    .hidden {
        display: none;
    }
}
