---
import PageLayout from '../layouts/PageLayout.astro'

const title = 'Jeux de société'
---

<PageLayout category="hobby" title={title}>
    <p>Sit in anim ut proident ut adipisicing id sed labore sit id adipisicing sit do anim laborum officia voluptate proident consectetur ex laboris in id aliqua dolore occaecat voluptate consectetur nisi commodo nulla anim esse cupidatat consequat eu duis ea incididunt proident aliquip fugiat dolor deserunt commodo do id pariatur commodo sint minim adipisicing nulla dolore qui sit ut commodo non officia consequat fugiat excepteur anim ut cupidatat sed et dolore aute laborum veniam commodo elit irure veniam sit minim officia aute ut dolore pariatur pariatur ad deserunt ex duis do in deserunt ullamco in id nulla nisi occaecat ut excepteur quis cupidatat nisi ullamco eu aliqua consequat qui elit magna adipisicing esse ad laboris nulla sunt duis laborum amet proident consequat pariatur aliquip dolor laborum exercitation aliqua reprehenderit laborum dolor officia qui nisi minim adipisicing adipisicing dolor voluptate ad nostrud anim incididunt ut amet reprehenderit laborum nostrud duis proident eiusmod nisi est sint do nulla in irure ut et eu ad reprehenderit quis ea excepteur sit nisi est adipisicing reprehenderit ex sunt in amet ut labore occaecat pariatur cillum sed sed id dolore aliqua sit deserunt amet tempor incididunt occaecat sint aliquip dolor labore aliquip in in id id nisi elit anim nisi commodo do proident dolor aute tempor occaecat occaecat ea incididunt dolor et ullamco pariatur aliquip laboris et cillum consequat tempor quis non ut adipisicing voluptate amet esse ad in ad et deserunt.</p>
    <p>Lorem ipsum sed anim deserunt enim et in exercitation sint mollit.</p>
</PageLayout>
