---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = 'Contact'
const webFormAccessKey = 'e62af265-1882-4863-9324-8adc20fc732a'
---

<BaseLayout title={title}>
    <form method="POST" id="form">
        <input type="hidden" name="access_key" value={webFormAccessKey}>
        <input type="hidden" name="subject" value="[monsieurluge.dev] Prise de contact depuis le portfolio">
        <label>nom<span class="mandatory">obligatoire</span></label>
        <input type="text" name="name" placeholder="ex: Richie Hawtin" required>
        <label>email<span class="mandatory">obligatoire</span></label>
        <input type="email" name="email" placeholder="ex: contact@beatport.com" required>
        <label>message<span class="mandatory">obligatoire</span></label>
        <textarea rows="5" name="message" placeholder="ex: J'apprécie ce que tu fais et j'aimerais en discuter avec toi. Convenons d'un rendez-vous !" required></textarea>
        <button type="submit">envoyer</button>
        <div id="result"></div>
    </form>
</BaseLayout>

<script>
    const form = document.getElementById('form') as HTMLFormElement
    const result = document.getElementById('result')

    if (form && result) {
        form.addEventListener('submit', function(e) {
            const formData = new FormData(form)
            e.preventDefault()

            const object = Object.fromEntries(formData)
            const json = JSON.stringify(object)

            result.innerHTML = 'Envoi en cours...'

            fetch('https://api.web3forms.com/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: json
                })
                .then(async (response) => {
                    let json = await response.json()
                    if (response.status == 200) {
                        result.innerHTML = 'Envoi effectué. Merci !'
                        form.reset()
                    } else {
                        console.error(json.message)
                        result.innerHTML = "Le message n'a pu être envoyé. Veuillez réessayer."
                    }
                })
                .catch(error => {
                    console.error(error)
                    result.innerHTML = "Le message n'a pu être envoyé. Veuillez réessayer."
                })
                .then(function() {
                    setTimeout(() => {
                        result.style.display = 'none'
                    }, 3000)
                })
        })
    }
</script>

<style>
    form {
        display: flex;
        flex-direction: column;
        padding: var(--content-spacing);
        background-color: var(--bg-low);
        border-radius: var(--border-radius-small);
    }

    label {
        font-family: var(--title-font);
        font-size: var(--title-size);
        font-weight: lighter;
    }

    label .mandatory {
        font-size: 1rem;
        filter: opacity(30%);
    }

    input, textarea {
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        font-family: serif;
        font-size: 1rem;
        border: none;
        background-color: var(--background);
    }

    button {
        margin: var(--content-spacing) auto 0;
        padding: .8rem 1.6rem;
        color: var(--background);
        font-family: ubuntu, sans-serif;
        text-transform: uppercase;
        background-color: var(--fg-high);
        border: 4px solid transparent;
        border-radius: var(--border-radius-small);
        transition: border .3s;
    }

    button:hover {
        border-color: var(--fg-med);
    }

    button:active {
        background-color: var(--fg-med);
    }
</style>
