---
import DevelopmentLayout from '../layouts/DevelopmentLayout.astro'

const title = 'Jeux'
---

<DevelopmentLayout title={title}>
    <p>Tempor dolore duis dolore mollit irure consequat qui est ut cupidatat cillum id elit laborum adipisicing aute ad nulla eiusmod reprehenderit commodo minim elit.</p>
    <p>Duis deserunt fugiat ut dolor in dolor velit quis culpa magna ut ut nulla fugiat in officia mollit sed commodo amet.</p>
</DevelopmentLayout>
