---
---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" sizes="128x128" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>monsieurluge</title>
    </head>
    <body>
        <p>monsieurluge.dev</p>
        <p>//todo</p>
    </body>
</html>

<style>
    html {
        background-color: #e2dedb;
    }
    body {
        color: #241f1c;
    }
</style>
