---
import { Code } from 'astro:components'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="portfolio de Laurent Vergé - développeur web freelance">
    <h1>Laurent Vergé</h1>
    <section id="profile">
        <p>développeur web full stack sénior</p>
        <p class="faded">aka @monsieurluge</p>
        <ul>
            <li><a href="https://github.com/monsieurluge" target="_blank" class="faded">github</a></li>
            <li><a href="www.linkedin.com/in/laurent-vergé-5ab77a293" target="_blank" class="faded">linkedin</a></li>
            <li><a href="https://www.malt.fr/profile/laurentverge1" target="_blank" class="faded">malt</a></li>
        </ul>
    </section>
    <img src="/images/room2.jpg" alt="illustration représentant un bureau envahi par la végétation" />
    <section class="about-me">
        <h2>mentor</h2>
        <p class="content">
            <ul>
                <li>partage les résultats de veille technologique</li>
                <li>invite à l'échange via le pair programming, la revue de code</li>
                <li>aide au changement d'habitudes, de process, de technos</li>
            </ul>
        </p>
    </section>
    <section class="about-me">
        <h2>agile</h2>
        <p class="content">
            <ul>
                <li>accompagne les équipes & les clients</p>
                <li>adapte les pratiques aux besoins</li>
                <li>valorise la proximité avec le client</li>
            </ul>
        </p>
    </section>
    <section class="about-me">
        <h2>full stack</h2>
        <p class="content">
            <ul>
                <li>frontend<span class="separator"> :: </span>javascript<span class="separator"> • </span>JQuery<span class="separator"> • </span>Vue</p>
                <li>backend<span class="separator"> :: </span>Linux<span class="separator"> • </span>Node<span class="separator"> • </span>PHP<span class="separator"> • </span>SGBDR</li>
                <li>qualité<span class="separator"> :: </span>ESLint<span class="separator"> • </span>SonarQube<span class="separator"> • </span>clean archi<span class="separator"> • </span>TDD</li>
                <li>infrastructure<span class="separator"> :: </span>Linux<span class="separator"> • </span>git<span class="separator"> • </span>Docker<span class="separator"> • </span>Nginx<span class="separator"> • </span>Apache</li>
                <li>monitoring<span class="separator"> :: </span>Grafana<span class="separator"> • </span>Datadog</li>
                <li>déploiement<span class="separator"> :: </span>CI-CD<span class="separator"> • </span>GitLab CI<span class="separator"> • </span>github actions<span class="separator"> • </span>Jenkins</li>
            </ul>
        </p>
    </section>
</BaseLayout>

<style>
    h2 {
        margin-bottom: 0;
    }

    #profile {
        margin-bottom: var(--row-height-large);
    }

    #profile p {
        margin: 0;
        padding: 0;
    }

    #profile ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #profile li a {
        border-bottom: none;
    }

    #profile li:not(:last-child)::after {
        content: "-";
        margin: 0 0.5em;
        color: var(--f-low);
    }

    img {
        display: block;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0 0 var(--row-height-large);
    }

    .about-me {
        margin: var(--row-height) 0;
        padding: 0;
        color: var(--f-high);
    }

    .about-me:hover h2::before {
        --dot-color: var(--f-med);
    }

    .about-me:hover h2::after {
        --dot-color: var(--f-med);
    }

    .about-me .content {
        margin: 0;
        padding: 0 var(--mobile-extra-spacing);
    }

    .about-me ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        cursor: default;
    }

    .about-me ul li {
        padding: 0 var(--mobile-extra-spacing) 0 8px;
        color: var(--f-high);
        line-height: var(--list-line-height);
        border-bottom: 2px solid var(--f-low);
        transition: color var(--transition-duration);
    }

    .about-me ul li::before {
        content: "+ ";
        color: var(--f-low);
        transition: color var(--transition-duration);
    }

    .about-me ul li:hover::before {
        color: var(--f-med);
    }

    .about-me ul:hover li:not(:hover) {
        color: var(--f-low);
    }

    .faded {
        color: var(--f-low);
        transition: color var(--transition-duration);
    }

    .faded:hover {
        color: var(--f-high);
    }

    .separator {
        filter: opacity(60%);
    }
</style>
