---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="accueil">
    <h1>Laurent Vergé<span class="aka">aka</span><span class="pseudo">monsieurluge</span></h1>
    <p class="subtitle">développeur web senior</p>
    <section class="about-me">
        <h2>mentor</h2>
        <p>partage les résultats de veille technologique</p>
        <p>invite à l'échange via le pair programming, la revue de code</p>
        <p>aide au changement d'habitudes, de process, de technos</p>
    </section>
    <section class="about-me">
        <h2>agile</h2>
        <p>accompagne les équipes & les clients</p>
        <p>adapte les pratiques aux besoins</p>
        <p>valorise la proximité avec le client</p>
    </section>
    <section class="about-me">
        <h2>full stack</h2>
        <p>frontend<span class="separator"> :: </span>javascript<span class="separator"> • </span>JQuery<span class="separator"> • </span>Vue</p>
        <p>backend<span class="separator"> :: </span>Linux<span class="separator"> • </span>Node<span class="separator"> • </span>PHP<span class="separator"> • </span>SGBDR</p>
        <p>qualité<span class="separator"> :: </span>ESLint<span class="separator"> • </span>SonarQube<span class="separator"> • </span>clean archi<span class="separator"> • </span>TDD</p>
        <p>infrastructure<span class="separator"> :: </span>Linux<span class="separator"> • </span>git<span class="separator"> • </span>Docker<span class="separator"> • </span>Nginx<span class="separator"> • </span>Apache</p>
        <p>monitoring<span class="separator"> :: </span>Grafana<span class="separator"> • </span>Datadog</p>
        <p>déploiement<span class="separator"> :: </span>CI-CD<span class="separator"> • </span>GitLab CI<span class="separator"> • </span>github actions<span class="separator"> • </span>Jenkins</p>
    </section>
</BaseLayout>

<style>
    h1 {
        margin: 0;
        font-size: 3rem;
        font-family: chopin, sans-serif;
    }

    .aka {
        font-size: 1.4rem;
        filter: opacity(30%);
    }

    .pseudo {
        font-size: 1.4rem;
        filter: opacity(76%);
    }

    .subtitle {
        margin: -.5rem 0 8rem;
        font-family: monospace;
    }

    .about-me {
        margin: 0 0 8px;
        padding: var(--box-spacing);
        background-color: var(--bg-low);
        border-radius: 3px;
    }

    .about-me:last-child {
        margin-bottom: 0;
    }

    .about-me h2 {
        margin: 0;
        font-family: chopin;
        font-size: 1.8rem;
    }

    .about-me p {
        margin: 0;
        color: var(--fg-med);
    }

    .separator {
        filter: opacity(60%);
    }
</style>
