---
import { Code } from 'astro:components'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="accueil">
    <header>
        <p id="fullname">Laurent Vergé</p>
        <p id="alias"><span class="aka">aka</span> @monsieurluge</p>
        <p id="job-title">développeur web full stack senior</p>
    </header>
    <img src="/images/room2.jpg" alt="illustration représentant un bureau envahi par la végétation" />
    <section class="about-me">
        <h2>mentor</h2>
        <p class="content">
            <ul>
                <li>partage les résultats de veille technologique</li>
                <li>invite à l'échange via le pair programming, la revue de code</li>
                <li>aide au changement d'habitudes, de process, de technos</li>
            </ul>
        </p>
    </section>
    <section class="about-me">
        <h2>agile</h2>
        <p class="content">
            <ul>
                <li>accompagne les équipes & les clients</p>
                <li>adapte les pratiques aux besoins</li>
                <li>valorise la proximité avec le client</li>
            </ul>
        </p>
    </section>
    <section class="about-me">
        <h2>full stack</h2>
        <p class="content">
            <ul>
                <li>frontend<span class="separator"> :: </span>javascript<span class="separator"> • </span>JQuery<span class="separator"> • </span>Vue</p>
                <li>backend<span class="separator"> :: </span>Linux<span class="separator"> • </span>Node<span class="separator"> • </span>PHP<span class="separator"> • </span>SGBDR</li>
                <li>qualité<span class="separator"> :: </span>ESLint<span class="separator"> • </span>SonarQube<span class="separator"> • </span>clean archi<span class="separator"> • </span>TDD</li>
                <li>infrastructure<span class="separator"> :: </span>Linux<span class="separator"> • </span>git<span class="separator"> • </span>Docker<span class="separator"> • </span>Nginx<span class="separator"> • </span>Apache</li>
                <li>monitoring<span class="separator"> :: </span>Grafana<span class="separator"> • </span>Datadog</li>
                <li>déploiement<span class="separator"> :: </span>CI-CD<span class="separator"> • </span>GitLab CI<span class="separator"> • </span>github actions<span class="separator"> • </span>Jenkins</li>
            </ul>
        </p>
    </section>
</BaseLayout>

<style>
    header {
        margin: var(--content-spacing) 0;
        padding: 0 0 0 2px;
        color: var(--f-high);
        /* border-left: 6px solid var(--f-high); */
        /* border: 2px solid var(--f-high); */
        transition: border-left var(--transition-duration);
    }

    header:hover {
        /* border-left: 6px solid var(--f-med); */
    }

    header p {
        margin: 0;
        padding: 0 1rem;
        background-color: var(--b-low);
        transition: padding var(--transition-duration);
    }

    header p:hover {
        padding-left: 1.4rem;
    }

    #fullname {
        margin-bottom: 2px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: anonymous, monospace;
        font-size: 2rem;
        font-weight: normal;
    }

    #alias {
        margin-bottom: 2px;
        padding-top: 0;
        padding-bottom: 0;
        font-family: anonymous, monospace;
        font-size: .8rem;
        line-height: 1.6rem;
    }

    #job-title {
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: anonymous, monospace;
        font-size: 1rem;
    }

    .aka {
        color: var(--f-low);
    }

    img {
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: var(--content-spacing);
    }

    .about-me {
        margin: 0 0 1.6rem 0;
        padding: 0;
        color: var(--f-high);
    }

    .about-me:hover h2 {
        border-color: var(--f-med);
    }

    .about-me:hover h2::before {
        color: var(--f-med);
    }

    .about-me .content {
        margin: 0;
        padding: 0 var(--mobile-extra-spacing);
    }

    .about-me ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        cursor: default;
    }

    .about-me ul li {
        padding: 0 var(--mobile-extra-spacing) 0 8px;
        color: var(--f-high);
        line-height: var(--list-line-height);
        border-bottom: 2px solid var(--f-low);
        transition: color var(--transition-duration);
    }

    .about-me ul li::before {
        content: "+ ";
        color: var(--f-low);
        transition: color var(--transition-duration);
    }

    .about-me ul li:hover::before {
        color: var(--f-med);
    }

    .about-me ul:hover li:not(:hover) {
        color: var(--f-low);
    }

    .separator {
        filter: opacity(60%);
    }
</style>
