---
import HobbiesLayout from '../layouts/HobbiesLayout.astro'

const title = 'Photographie'
---

<HobbiesLayout title={title}>
    <p>Ex id esse pariatur.</p>
    <p>Et dolor eiusmod dolor adipisicing enim enim minim cupidatat ex esse consequat velit ullamco cillum ut nostrud excepteur qui non aliqua voluptate elit aliquip aliqua fugiat.</p>
    <p>Proident in tempor consectetur ut irure minim cupidatat ea tempor fugiat officia nulla minim et reprehenderit ut elit amet anim in nisi mollit deserunt nostrud ut duis enim reprehenderit non ut sint.</p>
</HobbiesLayout>
