---
import { Image } from 'astro:assets'

const { cover, coverAlt, title, url } = Astro.props
---

<div class="article-card">
    <a href={url}><Image class="cover" src={cover} alt={coverAlt} /></a>
    <p class="name">{title}</p>
</div>

<style>
    .article-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        aspect-ratio: 2 / 1;
        border-radius: var(--border-radius-small);
        overflow: hidden;
    }

    .cover {
        aspect-ratio: auto;
        width: 100%;
        height: auto;
        filter: blur(5px);
        transition: filter 0.3s;
    }

    .article-card:hover .cover {
        filter: unset;
    }

    .name {
        position: absolute;
        bottom: 0px;
        left: 0px;
        max-width: 80%;
        margin: 0;
        padding: .5rem 1rem;
        font-family: monospace;
        font-size: 1rem;
        color: var(--background);
        background-color: var(--f-high);
        border-top: 2px solid var(--background);
        border-right: 2px solid var(--background);
        border-radius: 0 var(--border-radius-small) 0 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
