---
---

<footer>
    <a class="logo-link" href="/">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130">
            <path fill="currentColor" d="M 49.800293,35.100586 C 49.100295,35.200586 47.400486,35.6 46.000488,36 c -1.399996,0.4 -4.199906,0.799414 -6.399902,0.899414 -2.999994,0.1 -5.40001,1.200983 -10.5,5.000977 -3.599992,2.599994 -8.900787,6.399808 -11.800781,8.299804 l -5.099121,3.499512 7.5,0.700195 c 7.299984,0.7 7.698931,0.600483 10.398925,-1.999511 1.599998,-1.499998 3.099903,-2.499805 3.399903,-2.299805 0.499998,0.599998 -11.500004,37.19991 -13.5,40.899902 -1.099998,2.099996 -1.099897,2.299608 1.100097,1.59961 1.299998,-0.3 5.400692,-1.200295 9.200684,-1.800293 5.699988,-0.999998 6.700195,-1.500297 6.700195,-3.300293 0,-3.099994 7.999329,-16.100016 14.799317,-24 5.999988,-6.899986 15.200683,-15.398826 15.200683,-13.798828 0,0.399998 -2.299908,8.698846 -4.899902,18.298828 -2.699994,9.59998 -4.801074,17.700392 -4.601074,17.90039 0.299998,0.2 3.999814,-0.199414 8.299804,-0.899414 7.799986,-1.199998 7.901077,-1.200299 9.101075,-4.800293 1.999996,-5.599988 6.899326,-13.899914 11.799316,-19.899902 3.964279,-4.995384 2.629348,-2.886851 6,-7.400391 1.699996,-1.499996 1.700678,-1.49938 -1.299316,15.600586 -1.399998,7.999984 -2.199901,15.500002 -1.899903,16.5 0.5,1.699998 1.699815,2.000196 6.799805,2.200196 9.399977,0.399998 15.599027,-10e-5 17.499027,-1.100098 1.3,-0.799998 0.30058,-1.000098 -3.89942,-1.100098 -4.09998,0 -5.80029,-0.400002 -6.30029,-1.5 -0.7,-1.799996 0.90039,-16.200018 2.90039,-25.5 0.8,-3.899992 1.5,-9.901178 1.5,-13.201172 v -6.099609 l -3.7002,0.700195 c -2.09998,0.3 -5.599902,0.600586 -7.899898,0.600586 -4.29999,0 -4.999234,0.49943 -12.199218,8.399414 -2.399996,2.599996 -4.600295,4.60078 -4.800293,4.300782 -0.3,-0.2 0.899027,-4.100108 2.499023,-8.600098 l 3,-8.100586 h -8.299805 -8.399414 l -5.90039,5.200195 c -3.199994,2.799996 -8.600008,7.900202 -12,11.200196 -3.379166,3.186069 -6.080884,5.599985 -6.265137,5.494629 -0.0073,-0.01327 -0.01137,-0.03345 -0.01025,-0.06152 0.03774,-0.287144 1.598854,-4.18855 3.476074,-8.733398 3.599994,-8.499984 4.499801,-14.199512 2.299805,-13.999512 z" />
            logo
        </svg>
    </a>
</footer>

<style>
    footer {
        position: fixed;
        right: 4px;
        bottom: 4px;
    }

    .logo-link {
        display: block;
        text-align: center;
    }

    .logo {
        width: 64px;
        height: 64px;
        color: var(--f-low);
        background-color: var(--background);
        border-radius: var(--border-radius-small);
        transition: color 0.3s;
    }

    .logo:hover {
        color: var(--f-high);
    }
</style>
