---
const pathname = new URL(Astro.request.url).pathname;
const currentPathRoot = pathname.slice(1).split('/').shift();
const activeIfIn = (name: String) => currentPathRoot === name ? 'active' : ''
---

<aside>
    <ul class="themes-selector">
        <li><button data-theme="dark" onclick="changeTheme('dark')">dark</button></li>
        <li><button data-theme="light" onclick="changeTheme('light')">light</button></li>
        <li class="list-name">thèmes</li>
    </ul>
    <nav>
        <a class={activeIfIn('contact')} href="/contact">contact</a>
        <a class={activeIfIn('photography')} href="/photography">galerie</a>
        <a class={activeIfIn('resume')} href="/resume">curriculum vitae</a>
        <a class={activeIfIn('projects')} href="/projects">projets</a>
        <a class={activeIfIn('')} href="/">accueil</a>
    </nav>
</aside>

<style>
    aside {
        position: fixed;
        top: var(--content-spacing);
        right: calc(50% + var(--content-width) / 2 - var(--content-spacing) + 8px);
        display: flex;
        flex-direction: row;
    }

    .themes-selector {
        margin: 0;
        padding: 0 4px 0 0;
        list-style-type: none;
    }

    .list-name {
        font-size: 1rem;
        line-height: 1rem;
        color: var(--fg-low);
        text-transform: uppercase;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .themes-selector li {
        margin: 0;
        text-align: center;
    }

    .themes-selector li:not(:last-child) {
        margin-bottom: 2px;
    }

    .themes-selector button {
        width: 12px;
        height: 12px;
        padding: 0;
        color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid var(--fg-low);
        background-color: transparent;
        overflow: hidden;
        transition: color 0.3s;
    }

    .themes-selector button.active {
        border-color: var(--fg-high);
        background-color: var(--fg-high);
    }

    .themes-selector button:hover {
        border-color: var(--fg-high);
    }

    nav {
        margin: 0;
        padding: 0 4px 0 0;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        border-right: 1px solid var(--fg-low);
    }

    a {
        padding: 4px 0;
        font-size: 1rem;
        line-height: 1rem;
        color: var(--fg-low);
        text-decoration: none;
        text-transform: uppercase;
        border-radius: var(--border-radius-small);
        transition: color 0.3s;
    }

    a.active {
        color: transparent;
        background-color: var(--fg-high);
    }

    a:not(.active):hover {
        color: var(--fg-high);
    }
</style>

<script is:inline>
    function changeTheme(name) {
        theme.setTheme(name);

    }

    document.querySelectorAll('.themes-selector button').forEach(button => {
        button.classList.toggle('active', button.dataset.theme === theme.getTheme());
    });

    document.addEventListener('theme-changed', ({ detail }) => {
        document.querySelectorAll('.themes-selector button').forEach(button => {
            button.classList.toggle('active', button.dataset.theme === detail.theme);
        });
    })
</script>
