---
const pathname = new URL(Astro.request.url).pathname;
const currentPathRoot = pathname.slice(1).split('/').shift();
const activeIfIn = (name: String) => currentPathRoot === name ? 'active' : ''
---

<aside>
    <menu>
        <a class={activeIfIn('contact')} href="/contact">contact</a>
        <a class={activeIfIn('photography')} href="/photography">galerie</a>
        <a class={activeIfIn('resume')} href="/resume">curriculum vitae</a>
        <a class={activeIfIn('projects')} href="/projects">projets</a>
        <a class={activeIfIn('')} href="/">accueil</a>
    </menu>
</aside>

<style>
    aside {
        position: fixed;
        top: var(--content-spacing);
        right: calc(50% + var(--content-width) / 2 - var(--content-spacing));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--content-spacing);
    }

    menu {
        margin: 0;
        padding: 0 4px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        border-right: 1px solid var(--fg-low);
    }

    a {
        padding: 4px 0;
        font-size: 1rem;
        line-height: 1rem;
        color: var(--fg-low);
        text-decoration: none;
        text-transform: uppercase;
        border-radius: var(--border-radius-small);
        transition: color 0.3s;
    }

    a.active {
        color: transparent;
        background-color: var(--fg-high);
    }

    a:not(.active):hover {
        color: var(--fg-high);
    }
</style>
