---
import Header from '../components/Header.astro'
import Menu from '../components/Menu.astro'
import ThemeManager from '../components/ThemeManager.astro'
import '../styles/global.css'
import '../styles/desktop-layout.css'
import '../styles/mobile-layout.css'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="utf-8">
    <meta name="description" content="Portfolio personnel - développeur web full stack sénior - freelance">
    <meta name="keyword" content="portfolio, javascript, nodejs, typescript, vuejs, docker, nestjs, developer, freelance, fullstack">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>monsieurluge.dev{title && ` - ${title.toLowerCase()}`}</title>
    <ThemeManager defaultTheme="sandstorm" />
</head>
<body>
    <main>
        <Header title={title} />
        <Menu />
        <slot />
    </main>
</body>
</html>
