---
import '../styles/global.css'

const { category, title } = Astro.props
---

<!DOCTYPE html>
<html class={category}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>monsieurluge.dev{title && ` - ${title.toLowerCase()}`}</title>
</head>
<body>
    <slot />
</body>
</html>

<style>
    html.development {
        background-image: url(/images/wallpaper-home-development.jpg);
    }

    html.hobby {
        background-image: url(/images/wallpaper-home-hobbies.jpg);
    }

    html.about-me {
        background-image: url(/images/wallpaper-aboutme.jpg);
    }
</style>
