---
import BaseLayout from '../layouts/BaseLayout.astro'

const { title } = Astro.props
---

<BaseLayout title={title}>
    <article>
        <header>
            <h1>{title}</h1>
            <div id="page-description"><slot name="description" /></div>
        </header>
        <slot />
    </article>
</BaseLayout>

<style>
    header {
        margin: var(--content-spacing) 0;
    }

    #page-description {
        margin: 0;
        padding: 0 0 1em;
        color: var(--f-high);
        font-family: var(--text-font);
        line-height: 1.4em;
        border-bottom: 2px solid var(--f-high);
    }
</style>
