---
import BaseLayout from '../layouts/BaseLayout.astro'

const { description, title } = Astro.props
---

<BaseLayout title={title}>
    <article>
        <header>
            <h1>{title}</h1>
            {description && <p class="description">{description}</p>}
        </header>
        <slot />
    </article>
</BaseLayout>

<style>
    header {
        margin-bottom: var(--content-spacing);
    }

    h1 {
        margin: 0 0 var(--content-spacing);
        padding: var(--box-spacing);
        font-family: var(--title-font);
        font-size: var(--title-size);
        color: var(--background);
        background-color: var(--fg-high);
    }

    .description {
        margin: 0;
        padding: var(--box-spacing);
        background-color: var(--bg-low);
        border-radius: var(--border-radius-small);
    }
</style>
