---
import BaseLayout from '../layouts/BaseLayout.astro'

const { title } = Astro.props
---

<BaseLayout title={title}>
    <article>
        <header>
            <h1>{title}</h1>
            <div id="page-cover"><slot name="cover" /></div>
            <div id="page-description"><slot name="description" /></div>
        </header>
        <slot />
    </article>
</BaseLayout>

<style>
    header {
        margin-bottom: var(--row-height-large);
    }

    #page-description {
        margin: 0;
        padding: 0;
        color: var(--f-high);
        font-family: var(--text-font);
        line-height: 1.4em;
    }
</style>
