---
import BaseLayout from '../layouts/BaseLayout.astro'

const { description, title } = Astro.props
---

<BaseLayout title={title}>
    <article>
        <header>
            <h1>{title}</h1>
            {description && <p class="description">{description}</p>}
        </header>
        <slot />
    </article>
</BaseLayout>

<style>
    header {
        margin-bottom: var(--content-spacing);
    }

    h1 {
        margin: 0 0 var(--content-spacing);
        padding: 0;
        font-size: var(--title-size);
        line-height: calc(var(--title-size)* 0.6);
        color: var(--f-high);
    }

    .description {
        margin: 0 0 var(--content-spacing);
        padding: 2em;
        font-family: monospace;
        color: var(--f-high);
        background-color: var(--b-low);
        border-radius: var(--border-radius-small);
    }
</style>
