---
import BaseLayout from '../layouts/BaseLayout.astro'

const { title } = Astro.props
---

<BaseLayout title={title}>
    <article>
        <h1>{title}</h1>
        <slot />
    </article>
</BaseLayout>

<style>
    h1 {
        margin: 0 0 var(--content-spacing);
        padding: 1rem 2rem;
        font-family: chopin, sans-serif;
        font-size: 2rem;
        color: var(--background);
        background-color: var(--fg-high);
    }
</style>
